@import "@/shared/styles/variables.module.scss";
 
.wallBox {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    flex-direction: column !important;
    border-radius: 12px;
     padding: 16px;
    cursor: pointer;
    width: 160px;
    height: 160px;
    margin-right: 16px !important;
    background-color: $primary;
    color: $white;
    box-shadow: $shadow_4;
    transition: 0.3s;
    max-width: 100% !important;
    &:hover {
        box-shadow: $shadow_5;  
    }
}