@import "@/shared/styles/variables.module.scss";

 
.createBox {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    flex-direction: column !important;
    border-radius: 12px;
    border: 2px dashed $primary;
    padding: 16px;
    cursor: pointer;
    width: 160px !important;
    height: 160px !important;
    margin-right: 16px !important;
    max-width: 100% !important;
    margin-bottom: 16px !important;
}
 
.wallBox {
    background-color: $white;
    border: none !important;
    box-shadow: $shadow_1;
    transition: 0.3s;
    &:hover {
        box-shadow: $shadow_3;  
    }
}