@import "@/shared/styles/variables.module.scss";

.titleBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: $primary;
  margin-bottom: 32px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;  
}

.modeBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
